html, body {
    height: 100%;
    width: 100%;
  }
  .blok1 {
    height: 100%;
    background-image: url(https://sc-events.s3.amazonaws.com/3966339/main.jpg);
    background-position: center center;
    background-size: cover; 
  }


h1 {
    font-family: 'Bungee Inline', cursive;
    color: red;
    font-size: 75px;
    text-align: center;
}
h2 {
    font-family: 'Shojumaru', cursive;
    color: yellow;
    font-size: 50px;
    text-align: center;
}
#ven {
    font-family: 'Shojumaru', cursive;
    color: yellow;
    font-size: 70px;
    text-align: center;
}

.wrapper {
    background-color: black;
}